* {
  box-sizing: border-box;
}
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 720px;
  min-width: 1170px;
  background: url("../img/background.png");
  background-size: cover;
}
#creator {
  padding: 7px;
  color: white;
  text-align: center;
}
#creator a {
  color: orange;
  text-decoration: none;
}
body {
  min-height: 720px;
  min-width: 1170px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 2% 2%;
}
#container {
  max-width: 1175px;
  min-width: 1175px;
  margin: 0 auto;
  padding: 2%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.sides {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 70%;
  background-color: rgb(214, 3, 3);
  justify-content: space-around;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0 10px 20px;
  border: solid rgb(150, 3, 3);
}
#game {
  background-color: rgb(214, 3, 3);
  height: 100%;
  width: 55%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0 20px 0 rgb(160, 3, 3);
  border: solid rgb(150, 3, 3);
}

#screen {
  --gridValue: 8;
  height: 85%;
  background-color: white;
  border: solid rgb(160, 3, 3);
  display: grid;
  grid-template-columns: repeat(var(--gridValue), 1fr);
  padding: 1px;
  transition: background-color 1s;
}
.tiles {
  margin: 0;
  padding: 0;
}

#div-reset {
  height: 10%;
  background-color: white;
}
#title {
  height: 80%;
  background-color: rgb(147, 13, 13);
  border-radius: 5px;
}
#title p {
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  font-style: oblique;
}
#creator {
  border-radius: 5px;
  height: 10%;
  background-color: rgb(147, 13, 13);
}
#optionsTitle {
  border-radius: 5px;
  height: 15%;
  background-color: rgb(147, 13, 13);
  color: white;
  padding: 10px;
}
#optionsTitle p {
  margin: 0;
  font-size: 30px;
  text-align: center;
}
#optionsSettings {
  height: 75%;
  background-color: rgb(147, 13, 13);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
}
#optionsSettings button {
  background-color: white;
  position:relative;
  border-radius: 50%;
  height: 14%;
  flex: 15%;
  outline: 0;
}
#optionsSettings button:active::before {
  background-color: white;

}
#optionsSettings button:active::after {
  background-color: black;

}
#optionsSettings label {
  color: white;
  border-radius: 50%;
  flex: 60%;
  font-size: 20px;
}
#optionsSettings button input{
  position: absolute;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  bottom:3px;
  right: 4px;
  outline: 0;
}
#gridSize {
  width: 15%;
  height: 9%;
  flex: 20%;
}
#div-reset {
  height: 10px;
  margin-bottom: 30px;
  border: solid thin black;
}
#bReset {
  border-radius: 50%;
  position: relative;
  bottom: 30px;
  left: 5px;
  height: 70px;
  width: 70px;
  background-color: white;
  border: solid black;
  padding: 20px 0px;
  text-align: center;
  user-select: none;
}
.resetBtnAnim {
  animation-name: resetAnim;
  animation-duration: 1s;
}
@keyframes resetAnim {
  50% {
    left: 500px;
  }
}
.grid {
  border: solid 1px rgb(61, 61, 61);
}

.transition {
  transition: background-color 0.5s;
}
#screen.background {
  background-color: black;
}

@media screen and (max-width:500px){
  
}